<p>New Recipe</p>
<form action="/recipes" method="post">
  <p>Name: </p>
  <p><input type="text" name="name"></p>  <!-- input type="text" name="post[name]" -->
  <p>Ingredients: </p>
  <p><input type="text" name="ingredients"></p>  <!-- input type="text" name="post[content]" -->
  <p>Cook Time: </p>
  <p><input type="text" name="cook_time"></p>
  <input type="submit" value="submit">
</form>