<form action="/recipes" method="POST">
  <p>Name :<input type="text" name="recipe[name]"></p>
  <p>Ingredients: <input type="text" name="recipe[ingredients]"></p>
  <p>Cook Time: <input type="text" name="recipe[cook_time]"></p>
  <input type="submit" name="submit" value="submit">
</form>
